html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #9bcdcd;
    transition: all 0.5s;
}

header.style-1 {
    margin: 10px 10px 0 10px;
    padding: 0 10px 0 0;
    background: linear-gradient(#fff, #9bcdcd);
}

header.style-1 .style-1-header-title {
    margin: 0 auto;
    padding: 0;
}

header.style-1 .style-1-header-title .char-container {
    display: inline-block;
    margin: 10px 0 0 10px;
    padding: 0;
}

header.style-1 .style-1-header-title .char-container p.char {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #9bcdcd;
    transition: all 0.5s;
}

header.style-1 .style-1-header-title .char-container p.char:hover {
    cursor: default;
    color: #fff;
}

header.style-1 .link-container {
    display: inline-block;
    margin: 10px 0 0 10px;
}

header.style-1 .link-container a {
    display: block;
    margin: 0;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-family: monospace;
    font-size: 10px;
    color: #fff;
    background-color: #0000;
    border-radius: 30px;
    transition: all 0.5s;
}

header.style-1 .link-container a:hover {
    color: #699b9b;
    background-color: #ffffff69;
}

header.style-2 {
    overflow: hidden;
    margin: 10px 10px 0 10px;
    padding: 10px;
    background: linear-gradient(to left, #050505cd 0%, #05050500 90%);
    border-radius: 50px;
}

header.style-2 h1 {
    float: left;
    margin: 0;
    padding: 0;
    width: 25%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #0505059b;
}

header.style-2 h1:hover {
    cursor: default;
}

header.style-2 .links-container {
    float: left;
    margin: 0;
    padding: 0;
    width: 75%;
}

header.style-2 .links-container .link-container {
    display: inline-block;
    margin: 10px 0 0 10px;
    transition: all 0.5s;
}

header.style-2 .links-container .link-container a {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    font-family: monospace;
    font-size: 15px;
    color: #0505059b;
    transition: all 0.5s;
}

header.style-2 .links-container .link-container a:hover {
    color: #ff0537;
}

header.style-3 {
    margin: 10px 10px 0 10px;
    padding: 10px;
    background: linear-gradient(to left, #0f0, #00f);
}

header.style-3 .main-container {
    margin: 0;
    padding: 0 10px 10px 0;
    background-color: #050505;
}

header.style-3 .main-container .char-container {
    display: inline-block;
    margin: 10px 0 0 10px;
}

header.style-3 .main-container .char-container p.char {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    transition: all 0.5s;
}

header.style-3 .main-container .char-container p.char:hover {
    cursor: default;
}

header.style-3 .main-container .link-container {
    display: inline-block;
    position: relative;
}

header.style-3 .main-container .link-container .a-div {
    position: relative;
    top: 0;
    left: 0;
    margin: 10px 0 0 10px;
    padding: 5px;
    background: linear-gradient(to left, #00f, #0f0);
    border-radius: 15px;
}

header.style-3 .main-container .link-container .a-copy-div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 10px 0 0 10px;
    padding: 5px;
    width: calc(100% - 20px);
    background-color: #fff;
    border-radius: 15px;
    opacity: 0%;
    transition: all 0.5s;
}

header.style-3 .main-container .link-container .a-copy-div:hover {
    opacity: 100%;
}

header.style-3 .main-container .link-container .a-div a {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    font-family: monospace;
    font-size: 15px;
    color: #fff;
    background-color: #050505;
    border-radius: 10px;
    transition: all 0.5s;
}

header.style-3 .main-container .link-container .a-copy-div a {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    font-family: monospace;
    font-size: 15px;
    color: #fff;
    background-color: #050505;
    border-radius: 10px;
    transition: all 0.5s;
}

@media screen and (max-width: 1440px) {
    header.style-3 .main-container .link-container .a-div a {
        font-size: 10px;
    }
    header.style-3 .main-container .link-container .a-copy-div a {
        font-size: 10px;
    }
}
